    .body{
        padding-top: 120px;
    }
  
  .container {
    max-width: 600px; /* Ancho máximo para el contenido */
    margin: 0 auto; /* Centrar el contenido en la página */
    padding: 20px;
    background-color: #f2f0f0a1; /* Color de fondo del "libro" */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra ligera */
    border-radius: 10px;
  }
  
  h1 {
    position: relative;
    text-align: center; /* Centrar el título */
  
  }
 
  .rcpul  {
    list-style: none; /* Eliminar los puntos de la lista */
    padding: 0;
   
    
  }
  
  .rcpli {
    list-style: none;
    margin-bottom: 20px; /* Espacio entre elementos de la lista */
    padding: 15px; /* Espacio interno */
    border: 1px solid #ddd; /* Borde ligero */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #fafafa; /* Color de fondo del elemento */
    transition: 0.5s;
  }
  .rcpli:hover{
    transform: scale(1.02);
  }
  
